body {
  background-color: #CDF0EA;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img {
  height: 200px;
}

h1 {
  color: #7868E6;
}

h3 {
  color: #66BFBF;
}

th, td {
  padding-right: 10px;
}
